@import "tailwindcss";

@theme {
  --color-primary: #e0a929;
  --color-navy: #0a192f;
  --color-background-light: #f8f7f6;
  --font-family-display: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f8f7f6;
  color: #0f172a;
}

.glass-card {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
}
